@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #FCFDFF;
    font-family: 'playfair display', sans-serif;
    width: 100vw;
    height: 100vh;
}

header { 
    background-color: #FDC9DA;
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 60px;
    top: 0;
    left: 0;
}

header .frame1 {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-left: 63px;
    padding-top: 300px;
}

.frame1 h1 {
    color: #0E131F;
    font-weight: 500;
    font-size: 90px;
    margin: 0 0 0 100px;
 }
 
 .frame1 h2 {
     color: #0E131F;
     font-weight: 400;
     font-size: 72px;
     margin: 0 0 0 100px;
 }

header .frame2 {
    display: flex;
    padding-top: 125px;
    width: 350px;
}

.frame2 img {
    width: 900px;
    height: 850px;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 134px;
}

nav button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
    opacity: 0.6;
    font-size: 16px;
    width: 150px;
    height: 53px;
}

button:hover {
    background-color: #FA69FD;
    border-radius: 8px;
    opacity: 1;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 372px;
    height: 60px;
}

.logo a img {
    width: 59px;
    height: 63px;
    padding-left: 120px;
    padding-top: 10px;
    margin-right: 10px;
}

.logo h3 {
    color: #0E131F;
    font-weight: 50;
    font-size: 30px;
}
